.header,
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100svh;
  padding: 1em;
  text-align: center;
  gap: 1em;
}

.header {
  position: relative;
  z-index: 2;
}



.aboutme {
  display: flex;
  position: relative;
  flex-direction: column;
  max-height: fit-content;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.aboutmeHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 2em 0;
}

.aboutmeContent {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
  gap: 10em;
  max-height: 100%;
}

.aboutmeContent :nth-child(1) {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.aboutmeContent :nth-child(2) {
  flex: 1;
}

.leftText {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.leftText p {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 1em;
}

.skillsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.skillsList {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  flex-wrap: wrap;
}

.skills {
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: var(--font-base);
  font-weight: 500;
  color: var(--accent-light);
  padding: 0.7rem 1rem;
  background: rgba(153, 153, 153, 0.15);
  border-radius: 4px;
  text-align: center;
  align-self: center;
  white-space: nowrap;
}


.skills:hover {
  background: rgba(153, 153, 153, 0.25);
  color: var(--accent);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  scale: 1.05;
  transition: all 0.3s ease;
}

.paragraphs {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.divider {
  width: 40px;
  height: 4px;
  background-color: var(--accent);
  margin: 10px auto;
  border-radius: 2px;
}

.lineAnim {
  display: table-column-group;
  overflow: hidden;
  transform: translateY(100%);
  will-change: transform;
}



/* ---------------------------
   ✅ Responsive Design 
--------------------------- */

@media (max-width: 768px) {

  .header,
  .about {
    padding: 2em 1em;
  }

  .about {
    z-index: 10;
  }

  .scrollHint {
    width: 40px;
    height: 40px;
  }

  .aboutStory {
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  .aboutmeContent {
    flex-direction: column;
    gap: 3em;
    padding: 2em 1em;
    align-items: center;
  }

  .skillsWrapper {
    justify-content: center;
  }

  .leftText {
    align-items: center;
    text-align: left;
  }

  .focusHeading {
    text-align: center;
  }


}

@media (max-width: 480px) {
  .aboutmeHeader {
    padding: 1.5em 1em;
  }

  .aboutmeContent {
    padding: 1em;
    gap: 2em;
  }

  .skills {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
  }

  .divider {
    width: 30px;
    height: 3px;
  }
}

@media (max-width: 360px) {
  .scrollHint {
    display: none;
  }
}