.nav {
  position: relative;
  z-index: 10;
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  clip-path: inset(50% 0 50% 0);
}

.navLogo {
  cursor: pointer;
  position: relative;
}

.navLogo a {
  font-size: var(--font-xl);
}

.navLogo::after {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 0%;
  border-radius: 50%;
  background: var(--accent);
  filter: blur(0.4rem);
  transition: var(--transition);
  z-index: -1;
}

.navLogo:hover::after {
  height: 30%;
  width: 110%;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 10001;
}

.hamburger span {
  width: 30px;
  height: 3px;
  background-color: var(--fg);
  border-radius: 2px;
}

.navItemsWrapper {
  display: none;
}

.navItemsWrapper.open {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--panel-bg);
  padding-top: 7rem;
  z-index: 9999;
  gap: 2rem;
  transition: opacity var(--transition);
}

.navItems {
  display: flex;
  gap: 6rem;
}

.navItem {
  color: var(--accent-light);
  position: relative;
  cursor: pointer;
}

.navItem a {
  font-size: var(--font-xl);
  font-weight: 600;
  color: inherit;
}

.navItem::after {
  content: "";
  position: absolute;
  bottom: 0.3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 0%;
  background: var(--accent-light);
  border-radius: 50%;
  filter: blur(0.4rem);
  transition: var(--transition);
  z-index: -1;
}

.navItem:hover::after {
  height: 40%;
  width: 130%;
}

.navSocials {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
  text-align: center;
}

.landingAnimation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none !important;
}

.line,
.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  will-change: transform;
}

.line {
  width: 0;
  height: 0;
  transform-origin: center;
  border-top: 2px solid var(--accent);
  border-bottom: 2px solid var(--accent);
}

.circle {
  width: 20px;
  height: 20px;
  background-color: var(--accent);
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .navItems {
    display: none;
  }

  .navItemsWrapper.open {
    display: flex;
  }

  .navLogo {
    font-size: var(--font-2xl);
  }

  .navItem {
    font-size: var(--font-xl);
  }
}
